<!DOCTYPE html>
<html>
<head>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"> 
	<link rel="stylesheet" type="text/css" href="styles.css">
	


	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript" src="index_display.js"></script>


</head>

<body >
	
	<div class="topDisplay" id="header">
		<nav class="navbar navbar-trans navbar-expand-md  fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<a href="#header" class="navbar-left"><img src="https://secure.meetupstatic.com/photos/event/d/8/a/8/600_463915464.jpeg"></a>
				</div>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			    <span class="navbar-toggler-icon"></span>
			  	</button>

			  <!-- Navbar links -->
				  <div class="collapse navbar-collapse" id="collapsibleNavbar">
				    <ul class="navbar-nav ml-auto">
				      <li class="nav-item">
				        <a class="nav-link" href="#speakers">Top Stories</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="#">Speakers</a>
				      </li>
				      
				    </ul>
				  </div> 
				</div>
		</nav>

					

		<div class="container vertical-center">
			<div class="row ">
				<div class="col "></div>
				<div class="col ">
					<div class="display">
						<p>TokenStorm ICO Summit 2018</p>
					</div>
				</div>
				<div class="col">
					
						<h2 style="text-align:right;color:white"> Events </h2>
							<ul >
								<li>8 Jan 2018 Seoul</li>
								<li> South Korea 10 Jan</li>
								<li> 2018 Tokyo, Japan </li>
								<li>12 Jan 2018 Shanghai, China</li>
								<li>16 Jan 2018 Mumbai, India </li>
								<li>22 Jan 2018 Davos, Switzerland</li>


							</ul>
					
				</div>
								
			</div>
		</div>
	</div>


	<div class="Display">
		<div class="container details">
			<h1>What is DGCAMP</h1>
			DGCAMP is potentially one of the biggest real world applications for Blockchain. DGCAMP envisages a smart contract architecture replacing the manual processes involved in investment banking, in the issuance of corporate equity and debt securities — processes characterised by opacity and high fees. DGCAMP’s vision is made possible by Ethereum Smart Contracts, as envisioned by Vitalik Buterin, inventor and Chief Scientist, Ethereum.
		</div>

	</div>
	<div class="speakers" >
		<div class="container" id = "speakers">
		<h1>Speakers for the Event!</h1>
		<div></div>
		</div>
	</div>

	<div class="Display">
		<div class="container details">
			<h1>What is DGCAMP</h1>
			DGCAMP is potentially one of the biggest real world applications for Blockchain. DGCAMP envisages a smart contract architecture replacing the manual processes involved in investment banking, in the issuance of corporate equity and debt securities — processes characterised by opacity and high fees. DGCAMP’s vision is made possible by Ethereum Smart Contracts, as envisioned by Vitalik Buterin, inventor and Chief Scientist, Ethereum.
		</div>

	</div>

	<div class="agenda">
		<div class="container">
		<h1>Our Agenda</h1>
		<div></div>
		</div>
	</div>
</body>
</html>